/* Styles for Mobile devices */
.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: 1128px;
  height: 200px;
  margin: 30px auto;
}
.gallery-item {
  list-style: none;
}
.gallery-image {
  display: block;
  width: 360px;
  height: 200px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
  background: rgba(46, 47, 66, 0.8);
}

.gallery-image:hover {
  transform: scale(1.02);
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.3);
}

/* FORM */
.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin: 40px auto;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.301);
}
.feedback-form label {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}

.feedback-form input {
  width: 360px;
  height: 40px;
  padding-left: 16px;
}
.feedback-form input::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f425b;
}

.feedback-form textarea {
  resize: none;
  width: 360px;
  height: 80px;
  padding-left: 16px;
  padding-top: 10px;
}

.feedback-form button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border: inherit;
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.feedback-form button:hover {
  background: #6c8cff;
}



