/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
/* @import url('./footer.css'); */


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --bg-color: rgba(127, 225, 255, 0.164);
}

.btn-index {
  background-color: #7fcee6;
  border-radius: 5px;
  font-size: 50px;
  border: solid rgb(62, 134, 202);
  width: 150px;
}

body {
  padding: 20px 0 0 20px;
  
}
.container-index {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px
  ; 
}

.timer {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-top: 20px;
  background-color: var(--bg-color);
  width: 270px;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
}

.timer-contrainer {
  background-color: var(--bg-color);
  width: 320px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 5px;
}

#datetime-picker {
  border-color: var(--bg-color);
  padding: 5px;
}

.field {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
  width: 300px;
  background-color: var(--bg-color);
  padding: 30px;
  border-radius: 20px;
}

.form button,
.start-btn,
.btn-index {
  background-color: #54bbff;
  height: 30px;
  border-radius: 5px;
  border: none;
  font-size: large;
  box-shadow: 5px 5px 5px 1px #54bbff;
  margin-top: 10px;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #5cc283;
    box-shadow: 5px 5px 5px 1px #5cc283;
  }
}
a {
  color: currentColor;
  text-decoration: none;
}
.form input {
  border-radius: 5px;
  border: solid 2px #7fcee6b6;
  height: 20px;
}

fieldset {
  height: 50px;
  display: flex;
  justify-content: center;
  gap: 34px;
}
.back-idx {
  background-color: #54bbff;
  font-size: larger;
  margin-bottom: 20px;
  display: block;
  /* width: 100px; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #5cc283;
  }
}